[Unit]
Description=To-Links Shortener Service
After=network.target

[Service]
Type=simple
User=drjackild
WorkingDirectory=/home/drjackild/to-links
ExecStart=to-links-app
Restart=always
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target

