[Unit]
Description=To-Links Shortener Service
After=network.target

[Service]
Type=simple
User=${RPI_USER}
WorkingDirectory=${TARGET_DIR}
ExecStart=${TARGET_DIR}/to-links-app --port ${APP_PORT} ${DB_ARG}
Restart=always
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target